[Unit]
Description=Aria2 Download Manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aria2c --conf-path=/home/wineo/.config/aria2/aria2.conf
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
